@charset "utf-8";

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

.top-bar {
    width: 375px;
    height: 52px;
    position: relative;
    top: 27px;
}

.bar-back {
    width: 38px;
    height: 38px;
    margin: 7px 10px 7px 27px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.logo {
    width: 215px;
    height: 52px;
    margin: 0 75px 0 10px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon {
    width: 55px;
    height: 25px;
    flex-shrink: 0;
}

.content {
    width: 100%;
    height: 570px;
    position: relative;
    top: 35px;
}

.note {
    position: relative;
    top: 23px;
    width:375px;
    height: 514px;

    background-image: url('/images/group/note.svg');
}

.note-header {
    width: 375px;
    height: 45px;
}

.note-body {
    width: 375px;
    height: 389px;
}

.note-footer {
    width: 375px;
    height: 80px;
}

.step-content {
    width: 375px;;
    height: 353px;
    position: relative;
    top: 36px;

    transition: transform 0.3s ease-out;
}

.step-content.next {
    transform: translateX(100%);
}

.step-content.prev {
    transform: translateX(-100%);
}

.step-content.stop {
    transform: translateX(0);
}

.step-bar {
    width: 234px;
    height: 45px;

    position: relative;
    top: -24px;
}

.step-icon {
    width: 22px;
    height: 44px;

    box-sizing: border-box;
    float:left;

    position: relative;

    background: #FFFFFF;
    border: 1px solid #5A402A;
    border-radius: 20px;
}

.step-icon.fill {
    background: #5A402A;
}

.step-icon.step1 {
    left: 0;
}

.step-icon.step2 {
    left: 31px;
}

.step-icon.step3 {
    left: 62px;
}

.step-icon.step4 {
    left: 93px;
}

.step-icon.step5 {
    left: 124px;
}

.subject {
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.confirm-btn {
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;

    border-radius: 20px;
    border: 0.5px solid var(--kakao-logo, #000);
    background: #FFF;
}

.confirm-text {
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px; /* 212.5% */
    letter-spacing: -0.4px;
}
