@charset "utf-8";

.first-line {
    width: 182px;
    height: 70px;
    position: relative;
    top: 19px;
}

.second-line {
    width: 307px;
    height: 70px;
    position: relative;
    top: 37px;
}

.third-line {
    width: 181px;
    height: 70px;
    position: relative;
    top: 55px;
}

.first {
    float: left;
}

.mid {
    float: left;
    position: relative;
    left: 40px;
}

.last {
    float: right;
}

.character {
    width: 70px;
    height: 70px;
}

.blue {
    width: 70px;
    height: 84px;
}

.green {
    width: 87px;
    height: 70px;
}