@charset "utf-8";

.input-box {
    width: 326px;
    height: 60px;
    flex-shrink: 0;
    position: relative;
    top: 24px;
    border-radius: 20px;
    border: 0.5px solid #767676;
}
.input-textarea {
    width: 269px;
    height: 34px;
    float: left;
    position: relative;
    left: 29px;
    top: 13px;
}
.input-value {
    width: 269px;
    height: 34px;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    white-space: pre-line;
    color: #000000;
    font-family: "SOYOMaple";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /*line-height: 34px; !* 170% *!*/
    letter-spacing: -0.5px;
}

.error-text {
    color: #E84D59;
    font-family: "SOYOMaple";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 242.857% */
    letter-spacing: -0.35px;
    float: left;
}
