<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <th:block th:fragment="modal">
        <div class="notification-modal">
            <div class="modal-popup">
                <div class="modal-head">
                    <div class="modal-icon">
                        <img />
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-content">
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/js/common/notification-modal/modal.js"></script>
    </th:block>

</html>
