<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/base">

<th:block layout:fragment="header">
    <title>스프링 - 그룹 생성 및 가입</title>
    <link rel="stylesheet" href="/css/group/group-common.css" type="text/css">
    <link rel="stylesheet" href="/css/group/group-step4.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/group/background.svg');">
        <div class="top-bar">
            <div class="bar-back">
                <a href="/" class="back-btn"><img class="back-icon" src="/images/common/back_icon.svg"/></a>
            </div>
            <div class="logo">
                <img class="logo-icon" src="/images/group/logo.svg">
            </div>
        </div>
        <div class="content">
            <div class="note">
                <img class="note-img" src="/images/group/note.svg">
                <div class="step step4">
                    <img class="step-img" src="/images/group/step4.svg">
                    <div class="step-content">
                        <div style="width: 100px; height: 100px;">
                            <img class="selected-pring" src="" style="width: 100px; height: 100px;">
                        </div>
                        <div style="width: 100%; height: 34px; position: relative; top: 16px;">
                            <span class="subject">캐릭터 이름을 지어주세요.</span>
                        </div>
                        <div class="name-box">
                            <div class="name">
                                <label>
                                    <textarea class="name-textarea" placeholder="이름" maxlength="13"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="next">
                    <a href="#" class="next-btn">
                        <span class="next-text">확인</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
</th:block>

</html>
