<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/base">

<th:block layout:fragment="header">
    <title>스프링 - 그룹 생성 및 가입</title>
    <link rel="stylesheet" href="/css/group/group-common.css" type="text/css">
    <link rel="stylesheet" href="/css/group/group-step3.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/group/background.svg');">
        <div class="top-bar">
            <div class="bar-back">
                <a href="/" class="back-btn"><img class="back-icon" src="/images/common/back_icon.svg"/></a>
            </div>
            <div class="logo">
                <img class="logo-icon" src="/images/group/logo.svg">
            </div>
        </div>
        <div class="content">
            <div class="note">
                <img class="note-img" src="/images/group/note.svg">
                    <div class="step step2">
                        <img class="step-img" src="/images/group/step3.svg">
                        <div class="step-content">
                            <div style="width: 100%; height: 34px;">
                                <span class="subject">나의 캐릭터를 골라요.</span>
                            </div>
                            <div class="first-line">
                                <a id="pring2" href="#" class="first character">
                                    <img src="/images/group/character/pring2.svg" class="character">
                                </a>
                                <a id="pring3" href="#" class="last character">
                                    <img src="/images/group/character/pring3.svg" class="character">
                                </a>
                            </div>
                            <div class="second-line">
                                <a id="pring1" href="#" class="first character">
                                    <img src="/images/group/character/pring1.svg" class="character">
                                </a>
                                <a id="pring7" href="#" class="mid character">
                                    <img src="/images/group/character/pring7.svg" class="character">
                                </a>
                                <a id="pring4" href="#" class="last green">
                                    <img src="/images/group/character/pring4.svg" class="green">
                                </a>
                            </div>
                            <div class="third-line">
                                <a id="pring5" href="#" class="first blue" style="position: relative; bottom: 14px;">
                                    <img src="/images/group/character/pring5.svg" class="blue">
                                </a>
                                <a id="pring6" href="#" class="last character">
                                    <img src="/images/group/character/pring6.svg" class="character">
                                </a>
                            </div>
                        </div>
                    </div>
                <div class="next">
                    <a href="#" class="next-btn">
                        <span class="next-text">확인</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/group/select-character.js"></script>
</th:block>

</html>
