<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/base">

<th:block layout:fragment="header">
    <title>스프링 - 그룹 생성 및 가입</title>
    <link rel="stylesheet" href="/css/group/group-common.css" type="text/css">
    <link rel="stylesheet" href="/css/group/group-step1.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/group/background.svg');">
        <div class="top-bar">
            <div class="bar-back">
                <a href="/" class="back-btn"><img class="back-icon" src="/images/common/back_icon.svg"/></a>
            </div>
            <div class="logo">
                <img class="logo-icon" src="/images/group/logo.svg">
            </div>
        </div>
        <div class="content">
            <div class="note">
                <img class="note-img" src="/images/group/note.svg">
                <div class="step step1">
                    <img class="step-img" src="/images/group/step1.svg">
                    <div class="step-content">
                        <div style="width: 195px; height: 34px;">
                            <span class="subject">스프링에 참여해요!</span>
                        </div>
                        <div class="group">
                            <div class="join-btn">
                                <a href="#" class="join circle">
                                    <div style="width: 64px; height: 90px;">
                                        <img class="group-icon" src="/images/group/group_join.svg">
                                        <img class="group-icon select" src="/images/group/group_join_white.svg">
                                        <span class="text group-text">그룹 가입</span>
                                    </div>
                                </a>
                            </div>
                            <div class="create-btn">
                                <a href="#" class="create circle">
                                    <div style="width: 64px; height: 90px;">
                                        <img class="group-icon" src="/images/group/group_create.svg">
                                        <img class="group-icon select" src="/images/group/group_create_white.svg">
                                        <span class="text group-text">그룹 생성</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="question">
                            <span class="text question-text"></span>
                        </div>
                    </div>
                </div>

<!--                <div class="step">-->
<!--                    <img class="step-img" src="">-->
<!--                    <div class="step-content">-->
<!--                        <div style="width: 195px; height: 34px;">-->
<!--                            <span class="subject"></span>-->
<!--                        </div>-->
<!--                        &lt;!&ndash; TODO: 주석 제거 후 단게별 작업 진행  &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->

                <div class="next">
                    <a href="#" class="next-btn">
                        <span class="next-text">확인</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/group/group-step1.js"></script>
</th:block>

</html>
