<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="/base">

<th:block layout:fragment="header">
    <title>스프링 - 달력형</title>
    <link rel="stylesheet" href="/css/monthly-page.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/monthly-page/background.svg');">
        <div class="calendar-main">
            <div>
                <span class="group-name">버디즈‘s</span>
            </div>
            <div>
                <table frame="void">
                    <tr>
                        <td><a class="arrow left-arrow" href="#"></a></td>
                        <td></td>
                        <td></td>
                        <td class="on-table">
                            <span class="year"></span>
                        </td>
                        <td></td>
                        <td></td>
                        <td><a class="arrow right-arrow" href="#"></a></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="on-table">
                            <span class="month"></span>
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="days">
                        <td><span class="day">S</span></td>
                        <td><span class="day">M</span></td>
                        <td><span class="day">T</span></td>
                        <td><span class="day">W</span></td>
                        <td><span class="day">T</span></td>
                        <td><span class="day">F</span></td>
                        <td><span class="day">S</span></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="calendar-bottom">
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script src="/js/monthly-page/draw-calendar.js"></script>
    <script src="/js/monthly-page/calendar-arrow.js"></script>
</th:block>

</html>
