@charset "utf-8";

html, body {
    margin: 0px;
    overflow-x: hidden;
}

.drag-prevent{
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.full-screen {
    width: 100%; 
    height: 100vh; 
    position:relative;
}

.main-screen {
    position:absolute; 
    bottom:0; 
    width: 100%; 
    height: calc(100vw * 1.778); 
    bottom: 0;
}

.background {
    background-repeat: no-repeat;
    background-size: contain; 
    height:100%;
}
