.notification-modal {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: rgba(118, 118, 118, 0.70);
    backdrop-filter: blur(2px);
}

.notification-modal .modal-popup {
    width: 326px;
    height: 185px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('/images/common/notification-modal/background.svg');
}

.notification-modal .modal-head {
    width: 70px;
    height: 70px;
    margin: auto;
}

.notification-modal .modal-icon {
    width: 50px;
    height: 50px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-modal .modal-icon .success {
    content: url('/images/common/notification-modal/success.svg');
}

.notification-modal .modal-icon .error {
    content: url('/images/common/notification-modal/error.svg');
}

.notification-modal .modal-body {
    width: 326px;
    height: 150px;
    position: relative;
    bottom: 35px;
}

.notification-modal .modal-content {
    text-align: center;
    position: relative;
    top: calc(50% + 7px);
    transform: translate(0, -50%);
}

.notification-modal .modal-text {
    display: block;
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; /* 200% */
    letter-spacing: 0.18px;
}
