.title-box {
    width: 400px;
    height: 241px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spring {
    color: var(--kakao-logo, #000);
    font-variant-numeric: lining-nums proportional-nums;
    font-feature-settings: 'dlig' on;
    font-family: 'HSSanTokki20-Regular';
    font-size: 40px;
    line-height: 34px; /* 70.833% */
    letter-spacing: -1.2px;
}