<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<th:block layout:fragment="header">
    <title>스프링 - 일기 조회</title>
    <link rel="stylesheet" href="/css/diary/diary-common.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div class="background" style="background-image: url('/images/diary/view-page/background.svg');">
        <div class="top-bar">
            <div class="bar-back">
                <a th:href="@{/group/{groupId}(groupId=${groupId})}" class="back-btn"><img class="bar-icon" src="/images/common/back_icon.svg"/></a>
            </div>
            <div class="bar-main">
                <span class="date">[[${diary.createdAt}]]</span>
                <div class="mood"><img src=""></div>
            </div>
        </div>

        <div class="content">
            <div class="page-bar"></div>
            <div class="image no-image">
                <img class="image" src=""/>
            </div>
            <div class="diary-content-area">
                <p class="diary-content">[[${diary.content}]]</p>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        window.moodLocation = [[${diary.moodLocation}]];
        window.uploadImage = [[${diary.uploadImage}]];
    </script>
    <script src="/js/diary/view-diary/draw-diary.js"></script>
</th:block>

</html>
