<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<th:block layout:fragment="header">
    <title>스프링 - 로그인</title>
    <link rel="stylesheet" href="/css/login.css" type="text/css">
</th:block>

<th:block layout:fragment="content">
    <div style="background-image: url('/images/login-page/background.svg'); background-repeat: no-repeat; background-size: contain; height:100%;">
        <div class="content">
            <div class="logo">
                <img class="logo-img" src="/images/login-page/spring.svg">
            </div>
            <div class="spring">
                <span class="text main-text">우리만의 스프링을 만들어 볼까요?</span>
            </div>
            <div class="signup">
                <span class="text signup-text">SNS 계정으로 간편 가입하기</span>
            </div>
            <a class="login-btn" th:href="@{https://kauth.kakao.com/oauth/authorize(response_type='code', redirect_uri=${redirectUri}, client_id=${clientId})}">
                <div class="kakao-login">
                    <div class="kakao">
                        <img src="/images/login-page/kakao.svg">
                    </div>
                    <div class="login">
                        <span class="text login-text">카카오 로그인</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</th:block>

<th:block layout:fragment="script">
</th:block>

</html>
