@charset "utf-8";

.mood-btn {
    width: 22px;
    height: 21px;
    flex-shrink: 0;

    position: absolute;
    top: 8px;
    left: 140px;
}

.photo-btn {
    border-radius: 20px;
    border: 1px dashed #767676;
    background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
}

.photo-btn .photo-icon {
    content: url("/images/diary/write-page/photo_icon.svg")
}

.cancel-btn {
    float: left;
    position: absolute;
    top: 10px;
    left: 185px;

    border-radius: 50%;
    background: #FFFFFF;
}

.cancel-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}


.bar-write {
    width: 38px; 
    height: 38px;
    margin: 7px 10px 7px 10px; 
    float: left; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative; 
    left:17px;
}

.write-btn {
    width: 38px;
    height: 38px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 0.5px solid #767676;

    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

.check-btn {
    color: var(--kakao-logo, #000);
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 16px;
    font-style:normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.4px;
}
