@charset "utf-8";

.copy-code {
    position: relative;
    top: 22px;

    color: #E84D59;
    text-align: center;
    font-family: "SOYOMapleBold";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0.16px;
    text-decoration-line: underline;
}