@charset "utf-8";

.group {
    width: 327px;
    height: 150px;
    position: relative;
    top: 64px;
}

.join-btn {
    width: 150px;
    height: 150px;
    float: left;
}

.create-btn {
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    left: 27px;
}

.circle {
    width: 150px;
    height: 150px;
    flex-shrink: 0;

    border-radius: 50%;
    border: 0.5px solid var(--kakao-logo, #000);
    background: #FFF;
}

.circle.selected {
    background-color: #FC0;
}

.group-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.join .group-icon {
    content: url("/images/group/group_join.svg");
}

.join.selected .group-icon {
    content: url("/images/group/group_join_white.svg");
}

.create .group-icon {
    content: url("/images/group/group_create.svg");
}

.create.selected .group-icon {
    content: url("/images/group/group_create_white.svg");
}

.text {
    text-align: center;
    font-family: "SOYOMaple";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 212.5% */
    letter-spacing: -0.4px;
}

.group-text {
    position: relative;
    top: 7px;

    color: #767676;
}

.selected .group-text {
    color: #FFF;
}

.question {
    width: 260px;
    height: 40px;
    position: relative;
    top: 119px;
}

.question-text {
    color: #E84D59;
}
