@charset "utf-8";

.line {
    width: 100%;
    height: 100px;
    position: relative;
}

.character-btn {
    width: 100px;
    height: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-btn.selected {
    border: 4px solid #FC0;
    border-radius: 50%;
    box-sizing: border-box;
}

.character-icon {
    width: 70px;
    height: 70px;
}

.character-icon.green {
    width: auto;
}

.character-icon.blue {
    height: auto;
    margin-bottom: 13px;
}

a.gray {
    pointer-events: none
}

#red.gray .character-icon {
    content: url("/images/character/gray-red.svg")
}

#orange.gray .character-icon {
    content: url("/images/character/gray-orange.svg")
}

#yellow.gray .character-icon {
    content: url("/images/character/gray-yellow.svg")
}

#green.gray .character-icon {
    content: url("/images/character/gray-green.svg")
}

#blue.gray .character-icon {
    content: url("/images/character/gray-blue.svg")
}

#navy.gray .character-icon {
    content: url("/images/character/gray-navy.svg")
}

#purple.gray .character-icon {
    content: url("/images/character/gray-purple.svg")
}
